<%= render "mynavbar", article: @article %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ryan Shaw's Blog</span></h1>
      <br>
      <h2>Articles</h2>
    </div>
  </div>
  
  <div class="row">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%= sanitize(article.body[0,100]) %></p>
              <p>
                <button class="btn btn-dark" type="button"><%= link_to "Read More", article %></button>
                <strong>| <%= article.comments.public_count%> Comments</strong>
              <p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    
  <div class="row">
    <div class="col">
    
    </div>
  </div>
</div>
