<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Webbly", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Article", new_article_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<button class="btn btn-dark" type="button"><%= link_to "Edit", edit_article_path(@article) %></button>
<button class="btn btn-dark" type="button"><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li></button>

<br><br>

<h2>Comments</h2>
<%= render @article.comments %>

<%= render 'comments/form' %>
